* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    background: gray;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    position: relative; 
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  
  .three {
    width: 50px;
    height: 50px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    transition: 0.5s all ease-in-out;
  }
  
  .button:hover {
    background: rgb(238, 4, 4);
  }
  
  .button:hover .three {
    top: 20px;
    right: 110px;
    z-index: -1;
  }