* {
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    display: flex;
    justify-content: start;
    vertical-align: middle;
}

li {
    list-style: none;
    padding: 150px 100px;
    border: solid 1px blue;
    background-color: blue;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul {
    border: solid 5px black;
    background-color: black;
}