* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    position: relative;
  }
  
  .sidebar {
    background: black;
    width: 30vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -25vw;
    opacity: 0.5;
    transition: 0.5s all ease-in-out;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  
 li:nth-child(even){margin-bottom: 20px;}
 li:nth-child(odd){margin-bottom: 20px;}
  
  a {
    text-decoration: none;
    color: white;
    background: green;
    display: block;
    text-align: center;
    padding: 50px;
    font-size: 28px;
    transition: 0.3s all ease-in-out;
  }
  
  .sidebar:hover {
    left: 0;
    opacity: 1;
  }
  
  li:hover a {
    background: white;
    color: black;
    font-size: 30px;
  }